@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
  background-color: #AD4DD1;
  padding-top: 100px;
}

thumbnail {
  margin-top: 90px;
  padding-top: 100px;
}

.navbar {
  margin-botttom: 100px;
}
